<h2>Register</h2>

<!-- User Name -->
<div>
  <input [(ngModel)]="user.userName" placeholder="User name" [class.is-invalid]="errors['userName']?.length" />
  <div *ngIf="errors['userName']?.length">
    <small *ngFor="let err of errors['userName']" class="text-danger">{{ err }}</small>
  </div>
</div>

<!-- Email -->
<div>
  <input [(ngModel)]="user.email" placeholder="Email" [class.is-invalid]="errors['email']?.length" />
  <div *ngIf="errors['email']?.length">
    <small *ngFor="let err of errors['email']" class="text-danger">{{ err }}</small>
  </div>
</div>

<!-- Phone -->
<div>
  <input [(ngModel)]="user.phone" placeholder="Phone" [class.is-invalid]="errors['phone']?.length" />
  <div *ngIf="errors['phone']?.length">
    <small *ngFor="let err of errors['phone']" class="text-danger">{{ err }}</small>
  </div>
</div>

<!-- Password -->
<div>
  <input [(ngModel)]="user.password" type="password" placeholder="Password" [class.is-invalid]="errors['password']?.length" />
  <div *ngIf="errors['password']?.length">
    <small *ngFor="let err of errors['password']" class="text-danger">{{ err }}</small>
  </div>
</div>

<!-- Register Button -->
<button (click)="register()">Register</button>

<!-- Success message -->
<div *ngIf="successMessage" style="color:green">{{ successMessage }}</div>

<!-- General errors -->
<div *ngIf="errors['general']">
  <div *ngFor="let err of errors['general']" style="color:red">{{ err }}</div>
</div>

<p>כבר רשום? <a routerLink="/login">התחבר כאן</a></p>

