<h3>Gifts List</h3>

@if(errorMsg){
<div class="alert alert-danger">{{errorMsg}}</div>
}

<table class="table-bordered">
  <thead>
    <tr>
      <th>Gift ID</th>
      <th>Gift Name</th>
      <th>Donor Name</th>
      <th>Card Price</th>
      <th>Category</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    @for(g of gifts$ | async; track g.id){
      <tr>
        <td>{{g.id}}</td>
        <td>{{g.name}}</td>
        <td>{{g.donorName}}</td>
        <td>{{g.cardPrice}}</td>
        <td>{{g.category}}</td>
        <td>
          @if(isManager()){
            <button (click)="removeGift(g.id)">❌</button>
            <button (click)="updateGift(g.id)">✏️</button>
          } @else {
            <button (click)="addToCart(g.id)">Add to Cart</button>
          }
        </td>
      </tr>
    }
  </tbody>
</table>

<!-- הצגת הודעת שגיאה -->
@if (errorMsg) {
  <div class="error-message">
    {{ errorMsg }}
  </div>
}

@if(isManager()){
<button (click)="id = 0">➕ Add Gift</button>
}

@if(id >= 0){
<app-gift [(selectedId)]="id" (selectedIdChange)="onGiftSaved($event)"></app-gift>
}