<div>
    <form [formGroup]="frmGift">

            <div class="form-group">
                <div class="form-label">Gift Name</div>
                <div>
                    <input type="text" class="form-control" formControlName="name" />
                    @if (frmGift.controls['name'].touched && frmGift.controls['name'].errors?.['required']) {
                        <div class="text-danger">Required field</div>
                    }
                </div>
            </div>

            <div class="form-group">
                <div class="form-label">Donor Name</div>
                <div>
                    <input type="text" class="form-control" formControlName="donorName" />
                    @if (frmGift.controls['donorName'].touched && frmGift.controls['donorName'].errors?.['required']) {
                        <div class="text-danger">Required field</div>
                    }
                </div>
            </div>

            <div class="form-group">
                <div class="form-label">Donor ID</div>
                <div>
                    <input type="number" class="form-control" formControlName="donorId" />
                    @if (frmGift.controls['donorId'].touched && frmGift.controls['donorId'].errors?.['required']) {
                        <div class="text-danger">Required field</div>
                    }
                </div>
            </div>

            <div class="form-group">
                <div class="form-label">Card Price</div>
                <div>
                    <input type="number" class="form-control" formControlName="cardPrice" />
                    @if (frmGift.controls['cardPrice'].touched && frmGift.controls['cardPrice'].errors?.['required']) {
                        <div class="text-danger">Required field</div>
                    }
                </div>
            </div>

            <div class="form-group">
                <div class="form-label">Category</div>
                <div>
                    <input type="text" class="form-control" formControlName="category" />
                </div>
            </div>

            @if (serverError) {
                <div class="error-message">
                    ⚠️ {{ serverError }}
                </div>
            }
            
            <button type="button" (click)="saveGift()">Save</button>
            <button type="button" (click)="cancel()">Cancel</button>


        </form>
</div>

